<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DNTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DNTest.Properties.Settings.QuestionnaireBankConnectionString"
            connectionString="Data Source=NINH;Initial Catalog=QuestionnaireBank;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DNTest.Properties.Settings>
            <setting name="Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="ID_User" serializeAs="String">
                <value />
            </setting>
        </DNTest.Properties.Settings>
    </userSettings>
</configuration>